body, html{
    height: 110%;
    margin: 0;
    background-image: url('../images/faq.jpg');
    background-size: cover;
    padding: 2px;


}




div.whole-section{
    text-align: center;
    margin: auto;

}

h1{
    color: red;
}

letter{
    font-size: 50px;
    color: red;
}

div.QA-index{
    line-height: 1.5;
}

div.QA-index p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;

}


div.QA-index p:nth-child(3){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;

}

div.QA-index p:nth-child(4){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;


}


div.QA-index p:nth-child(5){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;

}

div.QA-index p:nth-child(6){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;
}

div.QA-index p:nth-child(7){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;

}

div.QA-index p:nth-child(8){
    font-family: calibri;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: orange;

}





.glow-on-hover {
    position: absolute;
    top: 30px;
    left: -500px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #45FF2A, #00FF5B);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




